@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Manrope", sans-serif;
  color: #616161;
  word-spacing: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Averia Serif Libre", cursive;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="file"] {
  display: none;
}

.featured-image,
.profile-image,
.banner-image,
.nft-file {
  display: inline-block;
  cursor: pointer;
  border: 2px solid rgb(175, 175, 175);
  border-style: dashed;
  margin-top: 20px;
}

.profile-image {
  object-fit: cover;
  border-radius: 200px;
}

.nft-file {
  max-width: 70%;
  /* height: 100px; */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featured-image {
  max-width: 70%;
  object-fit: cover;
  border-radius: 5px;
}

.banner-image {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  object-fit: cover;
}
